<div class="action-box row">
    <div class="action-box-header">
        <h5>
            Didlaukio 59 711B
        </h5>
        <span>
            Objekto kodas: 1
        </span>
    </div>
    <div class="action-box-content">
        <table class="records-table">
            <thead>
                <tr>
                    <td>Data</td>
                    <td>Rodmenys (nuo-iki)</td>
                    <td>Tarifas</td>
                    <td>Suma</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="record-text">2022-10-25</span></td>
                    <td>
                        <span class="record-text">100 kWh</span>
                        <span class="record-text ml-4">120 kWh</span>
                    </td>
                    <td><span class="record-text">0.2</span></td>
                    <td><span class="record-text">9</span></td>
                </tr>
                <tr>
                    <td><span class="record-text">2022-10-27</span></td>
                    <td>
                        <span class="record-text">120 kWh</span>
                        <span class="record-text ml-4">150 kWh</span>
                    </td>
                    <td><span class="record-text">0.22</span></td>
                    <td><span class="record-text">50</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>