@page "/history"

<div class="container-fluid content-container">
    <div class="row mt-3">
        <div class="col-md-8">
            <h4>Mokėjimų istorija</h4>
        </div>
        <div class="col-md-4">
            <label class="labels">
                Vartotojas
            </label>
            <select class="select ml-1">
                <option>Mantas Lengvinas</option>
            </select>
        </div>
    </div>
    <HistoryTable @key="1" />
    <HistoryTable @key="2" />
</div>