@page "/clientsetup"

<div class="container content-container mt-3 p-4 setup-form">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <h3 class="text-center">Pateikite savo informaciją</h3>
            <div class="">
                <div class="form-group m-3">
                    <label>Vardas</label>
                    <input @bind="Name" required class="form-control" />
                </div>
                <div class="form-group m-3">
                    <label>Pavardė</label>
                    <input @bind="Surname" required class="form-control" />
                </div>
                <div class="form-group m-3">
                    <label class="form-check-label mr-1">Verslo klientas?</label>
                    <input @bind="UserInfo.Business" required type="checkbox" class="form-check-input" />
                </div>

                <div class="w-100 d-flex justify-content-center pr-5 pl-5 pt-3 m-3">
                    <button @onclick="CompleteRegistration" type="submit" class="btn btn-primary w-100">Išsaugoti</button>
                </div>
            </div>
        </div>
    </div>
</div>

