@page "/profile"

<AuthorizeView>

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <div style="display: block; padding: 20px;">
                        <i style="font-size:100px;" class="fa fa-user"></i>
                    </div>
                    <span class="font-weight-bold">@UserStore.FullName</span>
                    <span class="text-black-50">@context.User.Identity.Name</span>
                    <span class="mt-5">Balansas: <b>@UserStore.Balance</b> EUR</span>
                    <button class="btn action-btn mt-1">Pridėti pinigų</button>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-6 border-right">
                <div class="p-3 py-5">
                    <div class="row mt-2 p-3 border-bottom">
                        <div class="col-md-6">
                            <label class="labels">
                                Profilio statusas
                            </label>
                            <span class="w-100 d-block"><b>Aktyvus</b></span>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">
                                Verslo klientas
                            </label>
                            <span class="w-100 d-block"><b>Ne</b></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <h5 class="mb-3">Objektai</h5>
                        <div class="row action-box">
                            <div class="action-box-header">
                                <h5>
                                    Didlaukio 59 711B
                                </h5>
                            </div>
                            <table class="records-table">
                                <thead>
                                    <tr>
                                        <td>Objekto kodas</td>
                                        <td>Tiekėjas</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Electrum</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="action-box-actions">
                                <button class="btn btn-danger">
                                    Pašalinti
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center"><span>Profilio valdymas</span></div><br>
                    <div class="col-md-12">
                        <button class="btn action-btn">Pridėti naują paskyrą</button>
                    </div> <br>
                    <div class="col-md-12">
                        <button class="btn action-btn">Pridėti objektą</button>
                    </div> <br>
                    <div class="col-md-12">
                        <button class="btn btn-danger">Išjungti paskyrą</button>
                    </div> <br>
                </div>
            </div>
        </div>
    </div>

</AuthorizeView>