@page "/addresses"

@inherits AddressesBase

<div class="container">
    <div class="action-box row">
        <div class="action-box-header">
            <h5>
                Adresai
            </h5>
        </div>
        <div class="action-box-content">
            <table class="records-table">
                <thead>
                    <tr>
                        <td>Objekto ID</td>
                        <td>Adresas</td>
                        <td>Tiekėjas</td>
                        <td>Kliento vardas ir pavardė</td>
                        <td>Veiksmai</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Addresses is not null && Addresses.Count > 0)
                    {

                        @foreach (var address in Addresses)
                        {
                            <tr>
                                <td><span class="record-text">@address.AddressId</span></td>
                                <td>
                                    <span class="record-text">@address.FullAddress</span>
                                </td>
                                <td><span class="record-text">@address.ProviderName</span></td>
                                <td><span class="record-text">@address.UserFullName</span></td>
                                <td>
                                    <button @onclick="async () => await DeleteAddressAsync(address.AddressId)" class="btn btn-danger">Ištrinti</button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5"><span>Nerasta mokėjimų istorijos</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>