@page "/"

<div class="container-fluid content-container">
    @if (Address == 0)
    {
        <div class="row not-exist-container">
            <div class="col-md-8 d-flex align-items-center">
                <span>
                    Neturite pridėtų objektų
                </span>
            </div>
            <div class="col-md-4 actions">
                <button class="btn action-btn">Pridėti naują</button>
            </div>
        </div>
    }

    <div class="row action-box">
        <div class="action-box-header">
            <h5>
                Elektra
            </h5>
            <span>
                Kliento kodas: 1
            </span>
        </div>
        <div class="action-box-content">
            <div class="action-box-content-info">
                <span class="action-adress">Didlaukio 59 711B</span>
                <span class="action-plan">
                    Taikomas <b>Standartinis</b> planas
                </span>
            </div>
            <table class="records-table">
                <thead>
                    <tr>
                        <td>Rodmenys (nuo-iki)</td>
                        <td>Skirtumas</td>
                        <td>Tarifas</td>
                        <td>Suma</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="record-text">100 kWh</span>
                            <div class="record-input ml-4">
                                <input placeholder="iki" />
                                <p>kWh</p>
                            </div>
                        </td>
                        <td><span class="record-text">20</span></td>
                        <td><span class="record-text">0.2</span></td>
                        <td><span class="record-text">9</span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Likutis už ankstesnius laikotarpius</td>
                        <td></td>
                        <td></td>
                        <td>0</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="action-box-footer">
            <span><b>Mokėtina suma</b></span>
            <div class="record-input ml-1">
                <input placeholder="Suma" />
                <p>EUR</p>
            </div>
        </div>
        <div class="action-box-actions">
            <button class="btn action-btn">
                Deklaruoti ir mokėti
            </button>
        </div>
    </div>

</div>




